@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

:root {
  --color-bg: #F8F7F9;
  --color-text: #1D2128;
  --color-accent: #0080C8;
}

.dark {
  --color-bg: #1D2128;
  --color-text: #F8F7F9;
  --color-accent: #0080C8;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-google-sans), sans-serif;
}